{
  email {$ACME_EMAIL}
}

{$DOMAIN} {
  encode zstd gzip

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy strict-origin-when-cross-origin
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
  }

  reverse_proxy 127.0.0.1:{$PORT}
}

*.{$DOMAIN} {
  tls {
    dns duckdns {$DUCKDNS_TOKEN}
  }

  encode zstd gzip

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy strict-origin-when-cross-origin
    Permissions-Policy "camera=(), microphone=(), geolocation=()"
  }

  reverse_proxy 127.0.0.1:{$PORT}
}
